*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 450px) {
  *{
    
    align-items: baseline;
    justify-content: baseline;

  }
}